body {
  margin: 0;
  background: url(images/castle.jpg) center;
  font-family: Roboto;
}

.login-container {
  background-color: white;
  height: 60vh;
  width: 30vw;
  margin: 150px auto;
  border-radius: 3%;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

.thankyou-img {
  height: 50px;
  width: 50px;
  margin-left: 310px;
  margin-top: -10rem;
  margin-bottom: 2rem;
}
