:root {
  --main-color2: rgb(206, 19, 19);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(images/castle.jpg) center;
  font-family: Roboto;
}

.container {
  height: 63vh;
  width: 33vw;
  margin: 150px auto;
  border-radius: 3%;
  background-color: white;
}
.login-top {
  background-color: var(--main-color2);
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
}

.form-title {
  color: white;
}

.login-main {
  margin-left: 50px;
  margin-top: 50px;
}

.info-container {
  width: 350px;
  margin-bottom: 15px;
}

.logo {
  background: var(--main-color2);
  display: inline;
  width: 37px;
  height: 37px;
  border-radius: 2%;
  margin-bottom: -14px;
  border: 1px solid grey;
  border-right: none;
}

.input-item {
  width: 300px;
  height: 37px;
  margin-left: -3px;
  display: inline;
  border: 1px solid grey;
  border-left: none;
}

.inputs {
  margin-left: 13px;
}

.submit {
  height: 37px;
  font-size: 1.2rem;
  padding-top: 7px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 7px;
  margin-left: 15px;
}
.submit:hover {
  filter: brightness(75%);
}

#signup-btn {
  width: 80%;
  height: 35px;
  background-color: var(--main-color2);
  color: white;
  display: block;
  padding-bottom: 20px;
  margin-right: 2rem;
}

#login-btn {
  margin-left: 4rem;
  margin-right: 5rem;
}

.second-btn {
  font-size: 1.3em;
}

a {
  color: var(--main-color2);
  text-decoration: none;
}

.second-btn:hover {
  filter: brightness(75%);
}

.error {
  display: none;
}

.error.show {
  display: block;
}

.error-title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.errors-list {
  margin: 0;
  padding-left: 15px;
}

.error {
  background-color: hsl(0, 100%, 80%);
  border-radius: 0.5rem;
  padding: 10px;
  color: hsl(0, 50%, 20%);
  margin-bottom: 1rem;
}
